.colors{
    color: #ffad5a;
}
body{
    margin: 0;
}
.top-banner{
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
}
.flexible-container{
    display: flex;
    margin: 60px;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
  width: 80%;
  height: 70%;
}
.button{
    text-decoration: none;
    background-color: rgba(255, 68, 0, 0.836);
    padding: 10px 25px;
    border-radius: 5px;
   color: white;
   font-weight: 100;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#second-part-title{
   
     text-align: center;
     font-weight: bold;
     
}
.illustrator{
    height: 100px;
    width: 100px;
}
.mission{
   background-color: #edf5f6;
   border-radius: 10px;
   padding: 10px;
   margin: 20px 20px;
   width: 360px;
   height: 276px;
   left: 156px;
   top: 723px;

}
.vission{
    background-color: #ffeeee;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
    width: 360px;
    height: 276px;
    left: 540px;
    top: 723px;
}
.goals{
    background-color:#fff4d6 ;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 20px;
    width: 360px;
    height: 276px;
    left: 924px;
    top: 723px;
}
.third-banner{
    background-image: url(ilus/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 20px;
}
.fourth-banner{
    background-image: url(ilus/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
   background-position-x:right;

}