.colors{
    color: #ffad5a;
}
body{
    margin: 0;
}
#left-border{
   border-left: 5px solid #ff6161;
   border-radius: 3px;   
}
.top-banner{
    font-size: 55px;
    font-family: 'Yeseva One', cursive;
    padding-left: 10px;  
}
.flexible-container{
    display: flex;
    margin: 60px;
}
.width{
    width: 50%;
    padding-left: 5%;
}
.width img{
  width: 80%;
  
}
.button{
    text-decoration: none;
    background-color: rgba(255, 68, 0, 0.836);
    padding: 10px 25px;
    border-radius: 5px;
   color: white;
   font-weight: 100;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.second-part-title{
   
     text-align: center;
     font-weight: bold;
     font-size: 50px;
     
}
.illustrator{
    height: 100px;
    width: 100px;
}
.mission{
   background-color: #edf5f6;
   border-radius: 10px;
   padding: 10px;
   margin: auto;
   width: 360px;
   height: 276px;
   left: 156px;
   top: 723px;
   border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 20px rgba(22, 21, 21, 0.938);
}
.vission{
    background-color: #ffeeee;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 360px;
    height: 276px;
    left: 540px;
    top: 723px;
    border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 20px rgba(22, 21, 21, 0.938);
}
.goals{
    background-color:#fff4d6 ;
    border-radius: 10px;
    padding: 10px;
    margin:auto;
    width: 360px;
    height: 276px;
    left: 924px;
    top: 723px;
    border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 20px rgba(22, 21, 21, 0.938);
}
.third-banner{
    background-image: url(ilus/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-y: 20px;
    
}
.fourth-banner{
    background-image: url(ilus/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
   background-position-x:right;
}
#bar-title{
    text-align-last: center;
}
#skills{
    font-size: 60px;
    font-weight: bold;
    text-align-last: center;
}
.progress-bar{
    background-color: lightpink;
    margin: 10px;
    padding-bottom: 30px;
    padding-left: 25px;
    border: lightyellow 5px;
    border-radius: 20px;
    border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 30px rgba(31, 29, 29, 0.527);
}
input[type= "text"]{
    border: none;
    border-bottom: px solid gray;
    width: 500px;
    border: 1px solid #E2E8F0;
	box-shadow: 0px 2px 20px rgba(22, 5, 5, 0.185);
}
.white{
 color: whitesmoke;
 text-align: center;
}
.footer{
   
    padding: 20px;
    background:linear-gradient(to right, #00093c, #2d0b00);
    border-top-left-radius: 125px;
    color: #fff;
}
.lobster{
    font-family: 'Lobster', cursive; 
}